<div
      class="relative z-10 pt-[120px] md:pt-[130px] lg:pt-[120px] pb-[80px] bg-[#f3f4fe] overflow-hidden"
    >
      <div class="container mx-auto">
        <div class="flex flex-wrap items-center">
          <div class="w-full px-4">
            <div class="grid xl:grid-cols-4 gap-4 lg:grid-cols-2 grid-cols-1">
             <div class=" mb-10"> 
              <div class="bg-white p-4 rounded-xl w-full  shadow-md ">
                <div class="flex flex-wrap ">
                  <div class="bg-gradient-to-tr from-orange-500 to-orange-700 -mt-10 mb-4 rounded-xl text-white grid items-center w-24 h-24 py-4 px-4 justify-center shadow-lg-orange mb-0">
                   <svg class="svg-inline--fa fa-solid fa-size fa-users" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"></path></svg>
                    {{!-- <i class="fa-solid fa-size fa-users"></i> --}}
                    </div>
                  <div class="w-full pl-4 max-w-full flex-grow flex-1 mb-2 text-right undefined"><h5 class="text-gray-500 font-light tracking-wide text-base mb-1">Member</h5><span class="text-3xl text-gray-900">150</span></div>
                </div>
              </div>
            </div> 
               <div class=" mb-10">
              <div class="bg-white  rounded-xl w-full shadow-md p-4">
                <div class="flex flex-wrap ">
                <div class="bg-gradient-to-tr from-pink-500 to-pink-700 -mt-10 mb-4 rounded-xl text-white grid items-center w-24 h-24 py-4 px-4 justify-center shadow-lg-pink mb-0">
                  <svg class="svg-inline--fa fa-solid fa-size fa-video" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="video" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M384 112v288c0 26.51-21.49 48-48 48h-288c-26.51 0-48-21.49-48-48v-288c0-26.51 21.49-48 48-48h288C362.5 64 384 85.49 384 112zM576 127.5v256.9c0 25.5-29.17 40.39-50.39 25.79L416 334.7V177.3l109.6-75.56C546.9 87.13 576 102.1 576 127.5z"></path></svg>
                  {{!-- <i class="fa-solid fa-size  fa-video"></i> --}}
                  </div>
                <div class="w-full pl-4 max-w-full flex-grow flex-1 mb-2 text-right undefined"><h5 class="text-gray-500 font-light tracking-wide text-base mb-1">Meeting</h5><span class="text-3xl text-gray-900">100</span></div></div>
  
               
              </div>
            </div>
               <div class=" mb-10">
              <div class="bg-white p-4 rounded-xl w-full shadow-md">
                <div class="flex flex-wrap border-b border-gray-200 ">
                 <div class="bg-gradient-to-tr from-purple-500 to-purple-700 -mt-10 mb-4 rounded-xl text-white grid items-center w-24 h-24 py-4 px-4 justify-center shadow-lg-purple mb-0">
                 <svg class="svg-inline--fa fa-solid fa-size fa-money-bill-wave" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="money-bill-wave" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M48.66 79.13C128.4 100.9 208.2 80.59 288 60.25C375 38.08 462 15.9 549 48.38C565.9 54.69 576 71.62 576 89.66V399.5C576 423.4 550.4 439.2 527.3 432.9C447.6 411.1 367.8 431.4 288 451.7C200.1 473.9 113.1 496.1 26.97 463.6C10.06 457.3 0 440.4 0 422.3V112.5C0 88.59 25.61 72.83 48.66 79.13L48.66 79.13zM287.1 352C332.2 352 368 309 368 255.1C368 202.1 332.2 159.1 287.1 159.1C243.8 159.1 207.1 202.1 207.1 255.1C207.1 309 243.8 352 287.1 352zM63.1 416H127.1C127.1 380.7 99.35 352 63.1 352V416zM63.1 143.1V207.1C99.35 207.1 127.1 179.3 127.1 143.1H63.1zM512 303.1C476.7 303.1 448 332.7 448 368H512V303.1zM448 95.1C448 131.3 476.7 159.1 512 159.1V95.1H448z"></path></svg>
                  {{!-- <i class="fa-solid fa-size fa-money-bill-wave"></i> --}}

                  </div>
                 <div class="w-full pl-0 max-w-full flex-grow flex-1 mb-2 text-right undefined"><h5 class="text-gray-500 font-light tracking-wide text-base mb-1">Balance Details</h5><span class="text-3xl text-gray-900">100</span></div></div>
                 <h3 balance-title>Total Balance</sp>
                
                  <h3 balance-money>10 000 000 VND</h3>
                </div>
                
              
                
              </div>
              <div class=" mb-10">
                <div class="bg-white p-4 rounded-xl shadow-md">
                  <div class="flex flex-wrap border-b border-gray-200 ">
                    <div class="bg-gradient-to-tr from-blue-500 to-blue-700 -mt-10 mb-4 rounded-xl text-white grid items-center w-24 h-24 py-4 px-4 justify-center shadow-lg-blue mb-0">
                      <svg class="svg-inline--fa fa-solid fa-size fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg>
                      {{!-- <i class="fa-solid fa-size fa-star"></i> --}}
                      </div>
                    <div class="w-full pl-0 max-w-full flex-grow flex-1 mb-2 text-right undefined"><h5 class="text-gray-500 font-light tracking-wide text-base mb-1">Top core members</h5><span class="text-3xl text-gray-900">3</span></div></div>
                 
                  <div class="diamond">
                      <i class="fa-solid fa-gem"></i>
                      <span>Trần Nguyễn Nhựt Duy</span>
                  </div>
                  <div class="gold">
                      <i class="fa-solid fa-gem"></i>
                      <span>Trần Nguyễn Nhựt Duy</span>
                  </div>
                  <div class="silver">
                      <i class="fa-solid fa-gem"></i>
                      <span>Trần Nguyễn Nhựt Duy</span>
                  </div>

                  </div>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////table///////////////////////////////////////////// -->
    <div class="bg-[#f3f4fe]">
      <div class="container-admin  ">
        <div class="admin">
          <div class="title shadow-lg rounded-xl">
            <div class="calendar">
              <h1 id="current-month" class="current-month">
                {{attendance.title}}
              </h1>
              <button class="all bg-cyan-600 hover:bg-cyan-700  hover:drop-shadow-lg duration-300">
                <span>See all</span>
                <i class="fa-solid fa-arrow-right white"></i>
              </button>
            </div>
          </div>
          <div class="bg-white rounded-xl shadow-xl">
            <div class="admin-details bg-cyan-600 rounded-t-xl ">
              <div>Member</div>
              <div>Check in</div>
              <div>Fund</div>
              <button type="button" class="py-2 px-4 invisible flex justify-center items-center  bg-cyan-600 hover:bg-cyan-700 focus:ring-cyan-500 focus:ring-offset-cyan-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  w-12 h-12 rounded-lg ">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="py-2 invisible px-4 flex justify-center items-center  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  w-12 h-12 rounded-lg ">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
            {{#each students}}
            <div class="month ">
              <div>{{name}}</div>
              <div class="red">{{attendance.status}}</div>
              <div class="red">Not yet</div>
              <button type="button" class="py-2 px-4 flex justify-center  items-center mr-2 bg-cyan-600 hover:bg-cyan-700 focus:ring-cyan-500 focus:ring-offset-cyan-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  w-12 h-12 rounded-lg ">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="py-2 px-4 flex justify-center items-center   bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  w-12 h-12 rounded-lg ">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
            {{/each}}
          </div>
          
        </div>
      </div>
    </div>
    <!-- //////////////////////////////member//////////////////////////////// -->
    <div class="relative z-10 pt-[60px] pb-[60px] bg-[#f3f4fe]">
      <div class="container mx-auto">
        <div class="flex flex-wrap items-center">
          <div class="w-full px-4">
            <main class="main rounded-xl shadow-xl">
              <div
                class="p-4 bg-white block sm:flex items-center rounded-t-lg justify-between border-b border-gray-200"
              >
                <div class="mb-1 w-full">
                  <div class="mb-4">
                    <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">
                      All users
                    </h1>
                  </div>
                  <div class="sm:flex">
                    <div
                      class="hidden sm:flex items-center sm:divide-x sm:divide-gray-100 mb-3 sm:mb-0"
                    >
                      <form class="lg:pr-3" action="#" method="GET">
                        <label for="users-search" class="sr-only">Search</label>
                        <div class="mt-1 relative lg:w-64 xl:w-96">
                          <input
                            type="text"
                            name="email"
                            id="users-search"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                            placeholder="Search for users"
                          />
                        </div>
                      </form>
                      <div class="flex space-x-1 pl-0 sm:pl-2 mt-3 sm:mt-0">
                        <a
                          href="#"
                          class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </a>
                        <a
                          href="#"
                          class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </a>
                        <a
                          href="#"
                          class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </a>
                        <a
                          href="#"
                          class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                            ></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div
                      class="flex items-center space-x-2 sm:space-x-3 ml-auto"
                    >
                      <button
                        type="button"
                        data-modal-toggle="add-user-modal"
                        class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto"
                      >
                        <svg
                          class="-ml-1 mr-2 h-6 w-6"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                        Add user
                      </button>
                      <a
                        href="#"
                        class="w-1/2 text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto"
                      >
                        <svg
                          class="-ml-1 mr-2 h-6 w-6"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                        Export
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <div class="overflow-x-auto rounded-xl">
                  <div class="align-middle  inline-block min-w-full">
                    <div class="shadow rounded-xl overflow-hidden">
                      <table
                        class="table-fixed min-w-full divide-y divide-gray-200"
                      >
                        <thead class="bg-gray-100">
                          <tr>
                            <th
                              scope="col"
                              class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                            >
                              Student Id
                            </th>
                            <th
                              scope="col"
                              class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                            >
                              Name
                            </th>
                            <th
                              scope="col"
                              class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                            >
                              Phone Number
                            </th>
                            <th
                              scope="col"
                              class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                            >
                              Gender
                            </th>
                            <th scope="col" class="p-4"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                          {{#each students}}
                          <tr class="hover:bg-gray-100">
                            <td
                              class="p-4 whitespace-nowrap text-base font-medium text-gray-900"
                            >
                              {{studentId}}
                            </td>
                            <td
                              class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0"
                            >
                              <img
                                class="h-10 w-10 rounded-full"
                                src="https://demo.themesberg.com/windster/images/users/neil-sims.png"
                                alt="Neil Sims avatar"
                              />
                              <div class="text-sm font-normal text-gray-500">
                                <div
                                  class="text-base font-semibold text-gray-900"
                                >
                                  {{name}}
                                </div>
                                <div class="text-sm font-normal text-gray-500">
                                  {{email}}
                                </div>
                              </div>
                            </td>

                            <td
                              class="p-4 whitespace-nowrap text-base font-medium text-gray-900"
                            >
                              {{phone}}
                            </td>
                            <td
                              class="p-4 whitespace-nowrap text-base font-normal text-gray-900"
                            >
                              <div class="flex items-center">{{gender}}</div>
                            </td>
                            <td class="p-4 whitespace-nowrap space-x-2">
                              <button
                                type="button"
                                data-modal-toggle="user-modal"
                                class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center"
                              >
                                <svg
                                  class="mr-2 h-5 w-5"
                                  fill="currentColor"
                                  viewBox="0 0 20 20"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                                  ></path>
                                  <path
                                    fill-rule="evenodd"
                                    d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                    clip-rule="evenodd"
                                  ></path>
                                </svg>
                                Edit user
                              </button>
                              <button
                                type="button"
                                data-modal-toggle="delete-user-modal"
                                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center"
                              >
                                <svg
                                  class="mr-2 h-5 w-5"
                                  fill="currentColor"
                                  viewBox="0 0 20 20"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    fill-rule="evenodd"
                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                    clip-rule="evenodd"
                                  ></path>
                                </svg>
                                Delete user
                              </button>
                            </td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full hidden"
                id="user-modal"
                aria-hidden="true"
              >
                <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
                  <div class="bg-white rounded-lg shadow relative">
                    <div
                      class="flex items-start justify-between p-5 border-b rounded-t"
                    >
                      <h3 class="text-xl font-semibold">Edit user</h3>
                      <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-toggle="user-modal"
                      >
                        <svg
                          class="w-5 h-5"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </button>
                    </div>

                    <div class="p-6 space-y-6">
                      <form action="#">
                        <div class="grid grid-cols-6 gap-6">
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="first-name"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >First Name</label
                            >
                            <input
                              type="text"
                              name="first-name"
                              id="first-name"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Bonnie"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="last-name"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Last Name</label
                            >
                            <input
                              type="text"
                              name="last-name"
                              id="last-name"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Green"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="email"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Email</label
                            >
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="example@company.com"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="phone-number"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Phone Number</label
                            >
                            <input
                              type="number"
                              name="phone-number"
                              id="phone-number"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="e.g. +(12)3456 789"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="Date-of-birth"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Date of birth</label
                            >
                            <input
                              type="date"
                              name="Date of birth"
                              id="Date-of-birth"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Development"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="Gender"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Gender</label
                            >
                            <select
                              name="gender"
                              id="gender"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                            >
                              <option value="MALE">MALE</option>
                              <option value="FEMALE">FEMALE</option>
                            </select>
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="current-password"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Current Password</label
                            >
                            <input
                              type="password"
                              name="current-password"
                              id="current-password"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="••••••••"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="new-password"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >New Password</label
                            >
                            <input
                              type="password"
                              name="new-password"
                              id="new-password"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="••••••••"
                              required=""
                            />
                          </div>
                        </div>
                      </form>
                    </div>

                    <div
                      class="items-center p-6 border-t border-gray-200 rounded-b"
                    >
                      <button
                        class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        type="submit"
                      >
                        Save all
                      </button>
                      <button
                        class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        type="submit"
                      >
                        Clear Information
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
                id="add-user-modal"
                aria-hidden="true"
              >
                <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
                  <div class="bg-white rounded-lg shadow relative">
                    <div
                      class="flex items-start justify-between p-5 border-b rounded-t"
                    >
                      <h3 class="text-xl font-semibold">Add new user</h3>
                      <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-toggle="add-user-modal"
                      >
                        <svg
                          class="w-5 h-5"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </button>
                    </div>

                    <div class="p-6 space-y-6">
                      <form action="#">
                        <div class="grid grid-cols-6 gap-6">
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="first-name"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >First Name</label
                            >
                            <input
                              type="text"
                              name="first-name"
                              id="first-name"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Bonnie"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="last-name"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Last Name</label
                            >
                            <input
                              type="text"
                              name="last-name"
                              id="last-name"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Green"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="email"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Email</label
                            >
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="example@company.com"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="phone-number"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Phone Number</label
                            >
                            <input
                              type="number"
                              name="phone-number"
                              id="phone-number"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="e.g. +(12)3456 789"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="date-of-birth"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Date of birth</label
                            >
                            <input
                              type="date"
                              name="date-of-birth"
                              id="date-of-birth"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Development"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="gender"
                              class="text-sm font-medium text-gray-900 block mb-2"
                              >Gender</label
                            >
                            <select
                              name="gender"
                              id="gender"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                            >
                              <option value="MALE">MALE</option>
                              <option value="FEMALE">FEMALE</option>
                            </select>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div
                      class="items-center p-6 border-t border-gray-200 rounded-b"
                    >
                      <button
                        class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        type="submit"
                      >
                        Add user
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full hidden"
                id="delete-user-modal"
                aria-hidden="true"
              >
                <div class="relative w-full max-w-md px-4 h-full md:h-auto">
                  <div class="bg-white rounded-lg shadow relative">
                    <div class="flex justify-end p-2">
                      <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-toggle="delete-user-modal"
                      >
                        <svg
                          class="w-5 h-5"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </button>
                    </div>

                    <div class="p-6 pt-0 text-center">
                      <svg
                        class="w-20 h-20 text-red-600 mx-auto"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                      </svg>
                      <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">
                        Are you sure you want to delete this user?
                      </h3>
                      <a
                        href="#"
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2"
                      >
                        Yes, I'm sure
                      </a>
                      <a
                        href="#"
                        class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center"
                        data-modal-toggle="delete-user-modal"
                      >
                        No, cancel
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <!-- ///////////////////////////////////////////fund&attend//////////////////////////////////////////////////// -->
    <div
    class="relative pt-[20px]  pb-[80px]  bg-[#f3f4fe]" 
  >
    <div class="container  mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full px-4">
          <div class="grid xl:grid-cols-2 gap-4 lg:grid-cols-2 grid-cols-1">
            <div class=" ">
              <main class="main rounded-xl shadow-xl">
                <div
                  class="p-4 bg-sky-900 rounded-t-lg block sm:flex items-center justify-between border-b  border-gray-200 "
                >
                  <div class="mb-1 w-full ">
                    <div class="sm:flex ">
                      <h1
                        class="text-xl sm:text-2xl bg-blend-hue font-semibold text-white"
                      >
                        All Fund
                      </h1>
                      <div
                        class="flex items-center space-x-2 sm:space-x-3 ml-auto"
                      >
                        <button
                        class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        type="button"
                        data-modal-toggle="create-fund-modal">
                          Create
                          </button>
                        <button
                          type="button"
                          data-modal-toggle="add-fund-modal"
                          class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col">
                  <div class="overflow-x-auto rounded-xl">
                    <div class="align-middle inline-block min-w-full">
                      <div class="shadow overflow-hidden">
                        <table
                          class="table-fixed min-w-full divide-y divide-gray-200"
                        >
                          <thead class="bg-gray-100">
                            <tr>
                              <th
                                scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                              >
                                Id
                              </th>
                              <th
                                scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                              >
                                Title
                              </th>
                              <th
                                scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                              >
                                Period
                              </th>
                            </tr>
                          </thead>
                          <tbody id="fund-list" class="bg-white divide-y divide-gray-200">
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
                  id="add-fund-modal"
                  aria-hidden="true"
                >
                  <div
                    class="relative w-full max-w-2xl px-4 h-full md:h-auto"
                  >
                    <div class="bg-white rounded-lg shadow relative">
                      <div
                        class="flex items-start justify-between p-5 border-b rounded-t"
                      >
                        <h3 class="text-xl font-semibold">Fund Title</h3>
                        <button
                          type="button"
                          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                          data-modal-toggle="add-fund-modal"
                        >
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </div>

                      <div class="p-6 space-y-6">
                        <form action="#">
                          <label
                            for="fundId"
                            class="text-sm font-medium text-gray-900 block"
                            >Fund</label
                          >
                          <select
                            id="fundId"
                            class="shadow-sm mb-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                            onchange="showFundTitle(event)"
                          >

                          </select>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="fundTitle"
                              class="text-sm font-medium text-gray-900 block"
                              >Title</label
                            >
                            <input
                              type="text"
                              id="fundTitle"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Title"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="fundPeriod"
                              class="text-sm font-medium text-gray-900 block"
                              >Period</label
                            >
                            <input
                              type="text"
                              id="fundPeriod"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="ex:Spring 2022"
                              required=""
                            />
                          </div>
                        </form>
                      </div>

                      <div
                        class="items-center p-6 border-t border-gray-200 rounded-b flex justify-around"
                      >
                       
                        <button
                          class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                          type="submit"
                          id="edit-fund"
                        >
                          Edit
                        </button>
                        <button
                          type="button"
                          class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm items-center px-5 py-2.5 text-center"
                          id="delete-fund"
                        >
                          Delete
                        </button>
                        <div 
                        id="result-fund"
                        class="text-base font-semibold text-gray-900 inline-block"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
                  id="create-fund-modal"
                  aria-hidden="true"
                >
                  <div
                    class="relative w-full max-w-2xl px-4 h-full md:h-auto"
                  >
                    <div class="bg-white rounded-lg shadow relative">
                      <div
                        class="flex items-start justify-between p-5 border-b rounded-t"
                      >
                        <h3 class="text-xl font-semibold">
                          Fund 
                        </h3>
                        <button
                          type="button"
                          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                          data-modal-toggle="create-fund-modal"
                        >
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </div>

                      <div class="p-6 space-y-6">
                        <form action="#">
                         
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="createFundTitle"
                              class="text-sm font-medium text-gray-900 block"
                              >Title</label
                            >
                            <input
                              type="text"
                              id="createFundTitle"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Title"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="createFundPeriod"
                              class="text-sm font-medium text-gray-900 block"
                              >Period</label
                            >
                            <input
                              type="text"
                              id="createFundPeriod"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="ex:Spring 2022"
                              required=""
                            />
                          </div>
                        </form>
                      </div>

                      <div
                        class="items-center p-6 border-t border-gray-200 rounded-b flex justify-around"
                      >
                        
                        <button
                          class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                          type="submit"
                          id="create-fund"
                        >
                          Create
                        </button>
                        <div 
                        id="create-fund-result"
                        class="text-base font-semibold text-gray-900 inline-block "
                        ></div> 
                      </div>
                    </div>
                  </div>
                </div>
              </main>
            </div>
            <div class="">
              <main class="main rounded-xl shadow-xl">
                <div
                  class="p-4 bg-sky-900 rounded-t-lg block sm:flex items-center justify-between border-b border-gray-200"
                >
                  <div class="mb-1 w-full">
                    <div class="sm:flex">
                      <h1
                        class="text-xl sm:text-2xl font-semibold text-white"
                      >
                        All Attendance
                      </h1>
                      <div
                        class="flex items-center space-x-2 sm:space-x-3 ml-auto"
                      > 
                      <button
                          class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                          type="button"
                          data-modal-toggle="create-attend-modal"
                          id="create-attendance-button">
                        Create
                      </button>
                        <button
                          type="button"
                          id="add-attendance-button"
                          data-modal-toggle="add-attend-modal"
                          class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col">
                  <div class="overflow-x-auto">
                    <div class="align-middle inline-block min-w-full">
                      <div class=" overflow-hidden rounded-xl ">
                        <table
                          class="table-fixed min-w-full divide-y divide-gray-200"
                        >
                          <thead class="bg-gray-100">
                            <tr>
                              <th
                                scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                              >
                                Id
                              </th>
                              <th
                                scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                              >
                                Title
                              </th>
                              <th
                                scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase"
                              >
                                Date
                              </th>
                            </tr>
                          </thead>
                          <tbody id="attendance-list" class="bg-white divide-y divide-gray-200">
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
                  id="add-attend-modal"
                  aria-hidden="true"
                >
                  <div
                    class="relative w-full max-w-2xl px-4 h-full md:h-auto"
                  >
                    <div class="bg-white rounded-lg shadow relative">
                      <div
                        class="flex items-start justify-between p-5 border-b rounded-t"
                      >
                        <h3 class="text-xl font-semibold">
                          Attendance Tittle
                        </h3>
                        <button
                          type="button"
                          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                          data-modal-toggle="add-attend-modal"
                        >
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </div>

                      <div class="p-6 space-y-6">
                        <form action="#">
                          <label
                            for="attendId"
                            class="text-sm font-medium text-gray-900 block"
                            >Attendance</label
                          >
                          <select
                            id="attendID"
                            class="shadow-sm mb-2 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                            onchange="showTitle(event)"
                          >

                          </select>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="attendTitle"
                              class="text-sm font-medium text-gray-900 block"
                              >Title</label
                            >
                            <input
                              type="text"
                              id="attendTitle"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Title"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="attendDate"
                              class="text-sm font-medium text-gray-900 block"
                              >Date</label
                            >
                            <input
                              type="text"
                              id="attendDate"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="00/00/0000"
                              required=""
                            />
                          </div>
                        </form>
                      </div>

                      <div
                        class="items-center p-6 border-t border-gray-200 rounded-b flex justify-around"
                      >
                        
                        <button
                          class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                          type="button"
                          id="edit-attendance"
                        >
                          Edit
                        </button>
                        <button
                          type="submit"
                          class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm items-center px-5 py-2.5 text-center"
                          id="delete-attendance"
                        >
                          Delete
                        </button>
                        <div 
                        id="result"
                        class="text-base font-semibold text-gray-900 inline-block"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
                  id="create-attend-modal"
                  aria-hidden="true"
                >
                  <div
                    class="relative w-full max-w-2xl px-4 h-full md:h-auto"
                  >
                    <div class="bg-white rounded-lg shadow relative">
                      <div
                        class="flex items-start justify-between p-5 border-b rounded-t"
                      >
                        <h3 class="text-xl font-semibold">
                           Attendance 
                        </h3>
                        <button
                          type="button"
                          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                          data-modal-toggle="create-attend-modal"
                        >
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </div>

                      <div class="p-6 space-y-6">
                        <form action="#">
                         
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="createAttendTitle"
                              class="text-sm font-medium text-gray-900 block"
                              >Title</label
                            >
                            <input
                              type="text"
                              id="createAttendTitle"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder="Họp CLB tháng x"
                              required=""
                            />
                          </div>
                          <div class="col-span-6 sm:col-span-3">
                            <label
                              for="createAttendDate"
                              class="text-sm font-medium text-gray-900 block"
                              >Date</label
                            >
                            <input
                              type="date"
                              id="createAttendDate"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                              placeholder=""
                              required=""
                            />
                          </div>
                        </form>
                      </div>

                      <div
                        class="items-center p-6 border-t border-gray-200 rounded-b flex justify-around"
                      >
                        
                        <button
                          class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                          type="submit"
                          id="create-attendance"
                        >
                          Create
                        </button>
                        <div 
                        id="createResult"
                        class="text-base font-semibold text-gray-900 inline-block "
                        ></div>                 
                      </div>
                    </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<section>
    <h1>Student / Account</h1>
    <table>
        <thead>
            <th>
            <td>#</td>
            <td>Student ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Gender</td>
            <td>Birthday</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>SE172125</td>
                <td>Thành Long</td>
                <td>Lê</td>
                <td>long@gmail.com</td>
                <td>0123456789</td>
                <td>MALE</td>
                <td>20/13/2003</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th>
            <td>#</td>
            <td>Student ID</td>
            <td>Username</td>
            <td>Password</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>SE172125</td>
                <td>long123</td>
                <td>Long123</td>
            </tr>
        </tbody>
    </table>

    <form action="">
        <div class="form-group">
            <label for="">Student ID</label>
            <select name="studentId" id="studentId">
                <option value="SE172125">Lê Thành Long</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" name="firstName" value="Thành Long">
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" name="lastName" value="Lê">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="mail" value="long@gmail.com">
        </div>
        <div class="form-group">
            <label for="">Phone Number</label>
            <input type="text" name="phone" value="0123456789">
        </div>
        <div class="form-group">
            <label for="">Date of Birth</label>
            <input type="date" name="birthday" value="2003-12-20">
        </div>
        <div class="form-group">
            <label for="">Gender</label>
            <select name="gender" id="gender">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="username" value="long123">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="passowrd" name="pass">
        </div>
        <input type="submit" value="Edit" name="studentOptype">
        <input type="submit" value="Create" name="studentOptype">
        <input type="submit" value="Delete" name="studentOptype">
        <button type="button">Clear information</button>
    </form>
</section>
